@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

/* --------------- Reset Margins --------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --------------- Root --------------- */
:root {
    --darkCyan: hsl(158, 36%, 37%);
    --veryDarkCyan: hsl(158, 36%, 20%);
    --cream: hsl(30, 38%, 92%);
    --veryDarkBlue: hsl(212, 21%, 14%);
    --darkGrayishBlue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

/* --------------- Body --------------- */
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background-color: var(--cream);
    color: var(--darkGrayishBlue);
}

/* --------------- Main Container --------------- */
.main-container {
    display: flex;
    flex-wrap: wrap;
    width: 375px;
    height: 700px;
    margin: 60px auto;
}

.card-container{
    background-color: var(--white);
    width: 345px;
    height: 645px;
    border-radius: 8px;
    overflow: hidden;
    margin: 0 auto;
}

/* --------------- Hero --------------- */
.hero {
    background-image: url(../images/image-product-mobile.jpg);
    background-size: cover;
    width: 100%;
    height: 240px;
    margin: 0 auto;
    margin-bottom: 25px;
}

/* --------------- Perfume --------------- */
.perfume {
    /* width: 335px; */
    padding: 20px;
}

.preview {
    text-transform: uppercase;
    letter-spacing: 0.5em;
    margin-bottom: 18px;
    font-weight: 500;
}

h1 {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    color: var(--veryDarkBlue);
    font-size: 2em;
    margin-bottom: 25px;
    padding-right: 16px;
}

.text {
    margin-bottom: 30px;
    padding-right: 10px;
}

/* --------------- Price --------------- */
.price {
    display: flex;
    margin-bottom: 20px;
}

.current {
    color: var(--darkCyan);
    font-family: 'Fraunces', serif;
    font-size: 2.2em;
    margin-right: 20px;
}

.before {
    display: flex;
    align-items: center;
    text-decoration: line-through;
}

/* --------------- Button --------------- */
.button {
    width: 100%;
    height: 48px;
    border-radius: 8px;
    background-color: var(--darkCyan);
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    cursor: pointer;
    background-color: var(--veryDarkCyan);
}

.icon {
    background-image: url(../images/icon-cart.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.button a {
    color: var(--white);
    text-decoration: none;
}

/* --------------- Footer --------------- */
.attribution {
    font-size: 12px;
    text-align: center;
    color: var(--veryDarkBlue);
    margin-bottom: 25px;
}

.attribution a {
    color: var(--darkCyan);
}

.attribution a:hover {
    cursor: pointer;
    color: var(--darkGrayishBlue);
    text-decoration: none;
}