@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

/*--------------- Reset design ---------------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*------------ Declaración de Variables -----------*/
:root {
    --brightOrange: hsl(31, 77%, 52%);
    --darkCyan: hsl(184, 100%, 22%);
    --veryDarkCyan: hsl(179, 100%, 13%);
    --transparentWhite: hsla(0, 0%, 100%, 0.75); /*paragraphs*/
    --veryLightGray: hsl(0, 0%, 95%); /*background, headings, buttons*/
}

/*------------ Body -----------*/
body {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    background-color: var(--veryLightGray);
}

/*------------ Main Container -----------*/
.main-container {
    width: 325px;
    margin: 87px auto 40px;
    border-radius: 8px;
    overflow: hidden;
}

article {
    width: 100%;
    height: 440px;
    padding: 48px;
}

/*------------ Sedans -----------*/
#sedans {
    background-color: var(--brightOrange);
}

/*------------ SUVs -----------*/
#suvs {
    background-color: var(--darkCyan);
}

/*------------ Luxury -----------*/
#luxury {
    background-color: var(--veryDarkCyan);
}

/*------------ Icons -----------*/
img {
    margin-bottom: 36px;
}

/*------------ Titles -----------*/
h2 {
    color: var(--veryLightGray);
    font-family: 'Big Shoulders Display', cursive;
    font-size: 2.4em;
    text-transform: uppercase;
    margin-bottom: 25px;
}

/*------------ Paragraphs -----------*/
p {
    color: var(--transparentWhite);
    line-height: 25px;
    margin-bottom: 25px;
}

/*------------ Buttons -----------*/
button{
    width: 148px;
    height: 46px;
    border-radius: 45px;
    border-style: none;
    background-color: var(--veryLightGray);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
}

button:hover {
    cursor: pointer;
    border: 2px solid var(--veryLightGray);
}

#sedans-btn {
    color: var(--brightOrange);
}

#sedans-btn:hover {
    background-color: var(--brightOrange);
    color: var(--veryLightGray);
}

#suvs-btn {
    color: var(--darkCyan);
}

#suvs-btn:hover{
    background-color: var(--darkCyan);
    color: var(--veryLightGray);
}

#luxury-btn {
    color: var(--veryDarkCyan);
}

#luxury-btn:hover {
    background-color: var(--veryDarkCyan);
    color: var(--veryLightGray);
}

/*--------------------- Footer --------------------*/
footer {
    font-size: 0.6875rem;
    text-align: center;
    margin-bottom: 5rem;
}

footer p {
    color: black;
}

footer a {
    color: hsl(228, 45%, 44%);
}