@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

/*--------------- Reseteo de diseño ---------------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*------------ Declaración de Variables -----------*/
:root {
    --Cyan: hsl(179, 62%, 43%);
    --Light-cyan: hsl(179, 62%, 83%);
    --Bright-yellow: hsl(71, 73%, 54%);
    --Light-gray: hsl(204, 43%, 93%);
    --Grayish-blue: hsl(218, 22%, 67%);
}

body {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    background-color: var(--Light-gray);
}

/*------------------ Mobile First -----------------*/
.main_container {
    background-color: white;
    width: 313px;
    height: 730px;
    margin: 70px auto 70px;
    border-radius: 8px;
    overflow: hidden;
}

.our_comunity {
    padding: 8px 24px 24px 24px;
    height: 270px;
}

.montly_subscription {
    background-color: var(--Cyan);
    padding: 12px 24px 24px 24px;
    height: 230px;
}

.why_us {
    background-color: var(--Light-cyan);
    padding: 8px 24px 24px 24px;
    height: 230px;
}

/*--------------------- Footer --------------------*/
footer {
    font-size: 11px; 
    text-align: center;
}
footer a {
    color: hsl(228, 45%, 44%);
}