@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

/*--------------- Reseteo de diseño ---------------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*------------ Declaración de Variables -----------*/
:root {
    --Violet: hsl(257, 40%, 49%);
    --Soft_Magenta: hsl(300, 69%, 71%);
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: var(--Violet);
    color: white;
}

#section1{background-color: cadetblue;}
#section2{background-color: coral;}
.social-container{border: 1px solid white;}
.networks{border: 1px solid white;}

/*----------------------- Main --------------------*/
main {
    width: 595px;
    height: 1448px;
    margin: 75px auto 40px;
}

/*-------------------- Section 1 ------------------*/
#section1 {
    height: 724px;
}

#logo-container {
    width: 180px;
}

#mockup {
    width: 595px;
}

/*-------------------- Section 2 ------------------*/
#section2 {
    height: 724px;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 46px;
    text-align: center;
    height: 170px;
}

#section2 p{
    font-size: 31px;
    text-align: center;
    height: 280px;
}

.btn-register {
    text-align: center;
    margin-bottom: 122px;
}

.btn-register a {
    width: 400px;
    height: 86px;
    border-radius: 50px;
    background-color: white;
    font-size: 25px;
    color: var(--Violet);
    display: inline-block;
    padding-top: 22px;
    text-decoration: none;
    
}

.btn-register a:hover {
    background-color: var(--Soft_Magenta);
    color: white;
}

/*------------------ Social Network ---------------*/
.social-container {
    text-align: center;
}

.networks {
    width: 208px;
    display: inline-flex;
    justify-content: space-between;
}

.networks a {
    border: 2px solid white;
    text-decoration: none;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 28px;
    padding-top: 12px;
}

.networks a:hover {
    border-color: var(--Soft_Magenta);
    color: var(--Soft_Magenta);
}

/*--------------------- Footer --------------------*/
footer {
    font-size: 11px; 
    text-align: center;
}
footer a {
    color: hsl(228, 45%, 44%);
}

/*--------------------- Desktop -------------------*/
@media only screen and (min-width:1284px) {
    main {
        margin: 60px auto 0px;
        width: 1284px;
        height: 700px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /*------------------ Section 1 ----------------*/
    #section1 {
        width: 753px;
        height: 700px;
    }

    #logo-container {
        height: 134px;
    }

    #mockup {
        width: 696px;
    }

    /*------------------ Section 2 ----------------*/
    #section2 {
        height: 700px;
    }

    h1 {
        margin-top: 165px;
        height: 133px;
        font-size: 39px;
        text-align: left;
        padding-right: 93px;
    }

    #section2 p {
        height: 98px;
        font-size: 20px;
        text-align: left;
        padding-right: 17px;
    }

    .btn-register {
        text-align: left;
        margin-bottom: 179px;
    }

    .btn-register a {
        width: 200px;
        height: 58px;
        font-size: 20px;
        padding-top: 14px;
        text-align: center;
    }

    .social-container {
        text-align: right;
    }

    .networks {
        width: 156px;
    }

    .networks a {
        width: 44px;
        height: 44px;
        font-size: 22px;
        padding-top: 8px;
        text-align: center;
    }
}