@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');
/*--------------- Reset design ---------------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*------------ Declaración de Variables -----------*/
:root {
    --Very_dark_blue: hsl(233, 47%, 7%); /*main background*/
    --Dark_desaturated_blue: hsl(244, 38%, 16%); /*card background*/
    --Soft_violet: hsl(277, 64%, 61%); /*accent*/
    --White: hsl(0, 0%, 100%); /*main heading, stats*/
    --Slightly_transparent_white: hsla(0, 0%, 100%, 0.75); /*main paragraph*/
    --Slightly_transparent_white: hsla(0, 0%, 100%, 0.6); /*stat headings*/
}

/*------------ Body -----------*/
body {
    font-family: 'Inter', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
}

/*--------------------- Footer --------------------*/
footer {
    font-size: 11px;
    text-align: center;
}
/* .attribution {
    min-width: 595px;
} */
footer a {
    color: hsl(228, 45%, 44%);
}