@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* --------------- Reset Margins --------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --------------- Root --------------- */
:root {
    --red: hsl(0, 100%, 74%);
    --redShadow: rgba(197, 98, 98, 0.5);
    --green: hsl(154, 59%, 51%);
    --greenShadow: hsla(154, 59%, 51%, 0.5);
    --blue: hsl(248, 32%, 49%);
    --blueShadow: hsla(248, 32%, 49%, 0.35);
    --darkBlue: hsl(249, 10%, 26%);
    --darkBlueShadow: hsla(249, 10%, 26%, 0.35); 
    --grayishBlue: hsl(246, 25%, 77%);
    --white: hsl(0, 0%, 100%);
}

/* --------------- Body --------------- */
body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color: var(--red);
    background-image: url(../images/bg-intro-mobile.png);
    color: var(--white);
    user-select: none;
}

/* --------------- Main --------------- */
.main-container {
    width: 330px;
    margin: 96px auto 40px;
}

/* --------------- Section 1 --------------- */
h1 {
    width: 235px;
    font-size: 1.7em;
    line-height: 38px;
    margin: -10px auto 16px;
}

.description {
    text-align: center;
    margin: 0 10px 68px;
}

/* --------------- Section 2 --------------- */
.offer {
    background-color: var(--blue);
    width: 330px;
    height: 90px;
    padding: 22px 75px;
    text-align: center;
    border-radius: 10px;
    font-weight: 400;
    margin-bottom: 20px;
    box-shadow: 0 3px 0 var(--darkBlueShadow);
    transition: 300ms;
}

.offer:hover {
    margin: -10px 0 30px;
    font-size: 1.2em;
    padding: 16px 40px;
    box-shadow: 6px 6px 0 var(--darkBlueShadow);
    transition: 300ms;
}

.offer span {
    font-weight: 700;
}

/* --------------- Form --------------- */
.form-container {
    background-color: var(--white);
    border-radius: 10px;
    padding: 24px;
    box-shadow: 0 6px 0 var(--redShadow);
    transition: 300ms;
}

.form-container:hover {
    margin: -10px -5px 10px 0;
    box-shadow: 12px 12px 0 var(--redShadow);
    transition: 300ms;
}

input {
    width: 100%;
    height: 55px;
    margin-bottom: 18px;
    border-radius: 4px;
    border: 1px solid var(--grayishBlue);
    padding-left: 20px;
    outline: none;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: var(--darkBlue);
    background-color: transparent;
}

input[type="submit"] {
    background-color: var(--green);
    color: var(--white);
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 400;
    border: none;
    box-shadow: 0 3px 0 var(--greenShadow);
    transition: 300ms;
}

input[type="submit"]:hover {
    cursor: pointer;
    margin: 10px 0 20px;
    font-size: 1.2em;
    box-shadow: 6px 6px 0 var(--greenShadow);
    transition: 300ms;
}

.colorP::placeholder{
    color: var(--red);
}

/* --------------- Error --------------- */
.error-container {
    position: relative;
}

.icon-error {
    position: absolute;
    right: 15px;
    top: -45px;
    user-select: none;
}

.error {
    color: var(--red);
    font-style: italic;
    text-align: right;
    font-size: 12px;
    margin: -12px 0 18px;
    user-select: none;
}

/* --------------- Check --------------- */
.icon-check {
    position: absolute;
    right: 15px;
    top: -45px;
    user-select: none;
}

.check {
    color: var(--green);
    font-style: italic;
    text-align: right;
    font-size: 12px;
    margin: -12px 5px 18px;
    user-select: none;
}

/* --------------- Terms --------------- */
.terms {
    color: var(--grayishBlue);
    font-size: 0.7em;
    margin: 0 14px;
    text-align: center;
}

.terms a {
    color: var(--red);
    text-decoration: none;
    font-weight: 700;
    transition: 300ms;
}

.terms a:hover {
    font-size: 1.3em;
    transition: 300ms;
}

/* --------------- Footer --------------- */
.attribution { 
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: var(--white);
    margin-bottom: 100px;
}

.attribution a { 
    color: var(--white);
    text-decoration: none;
    font-weight: 700;
    transition: 300ms;
}

.attribution a:hover { 
    color: var(--darkBlue);
    font-size: 1.2em;
    transition: 300ms;
}

/* --------------- Desktop --------------- */
@media (min-width: 1120px) {
    .main-container {
        display: flex;
        width: 1114px;
    }

    section:nth-child(1) {
        padding-top: 200px;
        width: 570px;
    }

    h1 {
        font-size: 3em;
        width: 414px;
        line-height: 55px;
        margin: 0 0 30px 10px;
    }

    .description {
        text-align: left;
    }

    section:nth-child(2) {
        width: 540px;
    }

    .offer {
        width: 100%;
        height: 60px;
    }
}